@model IEnumerable<MVC.Models.mvcNguoiDungModel>

@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

<p>
   <a href="@Url.Action("AddOrEdit","NguoiDung")" class="btn btn-default" ><i class="fa fa-plus"></i> Create New </a>
</p>
<table class="blueTable" >
    <thead class="table-heading">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","NguoiDung", new {id = item.IdNguoiDung })" class="btn btn-default"> Update </a> |
            <a onclick="Delete(@item.IdNguoiDung)" class="btn btn-danger"> Delete </a>
        </td>
    </tr>
}

</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Human Resources Application', 'Are you sure to DELETE this User, Sir ?', function () {
                window.location.href = '@Url.Action("Delete","NguoiDung")/' + id;
            }, null)
        }
    </script>
    }